In [3]:

import requests
import pandas as pd
import numpy as np
import copy
import importlib

# import tkinter as tk
# import pyjsonviewer
# from pandas import json_normalize
# from flatten_json import flatten
import parse_alpha_vantage


importlib.reload(parse_alpha_vantage)

In [4]:
top_companies = [
    "AAPL",   # Apple Inc.
    "MSFT",   # Microsoft Corporation
    "AMZN",   # Amazon.com Inc.
    "GOOGL",  # Alphabet Inc. (Google)
    "GOOG",   # Alphabet Inc. (Google)
    "META",     # Meta Platforms, Inc. (Facebook)
    "TSLA",   # Tesla, Inc.
    "BRK.A",  # Berkshire Hathaway Inc.
    "BRK.B",  # Berkshire Hathaway Inc.
    "NVDA",   # NVIDIA Corporation
    "JPM",    # JPMorgan Chase & Co.
    "JNJ",    # Johnson & Johnson
    "V",      # Visa Inc.
    "PG",     # Procter & Gamble Company
    "UNH",    # UnitedHealth Group Incorporated
    "MA",     # Mastercard Incorporated
    "PYPL",   # PayPal Holdings, Inc.
    "DIS",    # The Walt Disney Company
    "BABA",   # Alibaba Group Holding Limited
    "HD",     # The Home Depot, Inc.
    "CMCSA",  # Comcast Corporation
    "BAC",    # Bank of America Corporation
    "INTC",   # Intel Corporation
    "T",      # AT&T Inc.
    "KO",     # The Coca-Cola Company
    "WMT",    # Walmart Inc.
    "NFLX",   # Netflix, Inc.
    "PFE",    # Pfizer Inc.
    "ADBE",   # Adobe Inc.
    "CRM",    # salesforce.com, inc.
    "NKE",    # NIKE, Inc.
    "XOM",    # Exxon Mobil Corporation
    "MRK",    # Merck & Co., Inc.
    "CSCO",   # Cisco Systems, Inc.
    "ABT",    # Abbott Laboratories
    "TMO",    # Thermo Fisher Scientific Inc.
    "VZ",     # Verizon Communications Inc.
    "PEP",    # PepsiCo, Inc.
    "ORCL",   # Oracle Corporation
    "NVS",    # Novartis AG
    "ABBV",   # AbbVie Inc.
    "DHR",    # Danaher Corporation
    "BMY",    # Bristol Myers Squibb Co.
    "PM",     # Philip Morris International Inc.
    "LLY",    # Eli Lilly and Company
    "AVGO",   # Broadcom Inc.
    "GE",     # General Electric Company
    "CVX",    # Chevron Corporation
    "ABB",    # ABB Ltd.
    "DOW"     # Dow Inc.
]

In [5]:
parsed_data = []

In [11]:
# top_companies[:5]


top_companies_copy = copy.deepcopy(top_companies)
for company in top_companies:
    try:
        data = parse_alpha_vantage.fetch_data(company)
        print(f'{company} data fetch succeeded')
        parsed_data.append(parse_alpha_vantage.parse_monthly_adjusted(data))
        print(f'{company} data parsing and appending succeeded')
        top_companies_copy.remove(company)
        print(f'{company} done and removed from list')
    except KeyError:
        print(f'{company} had problem')

top_companies = copy.deepcopy(top_companies_copy)

UNH data fetch succeeded
UNH data parsing and appending succeeded
UNH done and removed from list
MA data fetch succeeded
MA data parsing and appending succeeded
MA done and removed from list
PYPL data fetch succeeded
PYPL data parsing and appending succeeded
PYPL done and removed from list
DIS data fetch succeeded
DIS data parsing and appending succeeded
DIS done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
BABA data fetch succeeded
BABA data parsing and appending succeeded
BABA done and removed from list
HD data fetch succeeded
HD data parsing and appending succeeded
HD done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
CMCSA data fetch succeeded
CMCSA data parsing and appending succeeded
CMCSA done and removed from list
BAC data fetch succeeded
BAC data parsing and appending succeeded
BAC done and removed from list
INTC data fetch succeeded
INTC data parsing and appending succeeded
INTC done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
T data fetch succeeded
T data parsing and appending succeeded
T done and removed from list
KO data fetch succeeded
KO data parsing and appending succeeded
KO done and removed from list
WMT data fetch succeeded
WMT data parsing and appending succeeded
WMT done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
NFLX data fetch succeeded
NFLX data parsing and appending succeeded
NFLX done and removed from list
PFE data fetch succeeded
PFE data parsing and appending succeeded
PFE done and removed from list
ADBE data fetch succeeded
ADBE data parsing and appending succeeded
ADBE done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
CRM data fetch succeeded
CRM data parsing and appending succeeded
CRM done and removed from list
NKE data fetch succeeded
NKE data parsing and appending succeeded
NKE done and removed from list
XOM data fetch succeeded
XOM data parsing and appending succeeded
XOM done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
MRK data fetch succeeded
MRK data parsing and appending succeeded
MRK done and removed from list
CSCO data fetch succeeded
CSCO data parsing and appending succeeded
CSCO done and removed from list
ABT data fetch succeeded
ABT data parsing and appending succeeded
ABT done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
TMO data fetch succeeded
TMO data parsing and appending succeeded
TMO done and removed from list
VZ data fetch succeeded
VZ data parsing and appending succeeded
VZ done and removed from list
PEP data fetch succeeded
PEP data parsing and appending succeeded
PEP done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
ORCL data fetch succeeded
ORCL data parsing and appending succeeded
ORCL done and removed from list
NVS data fetch succeeded
NVS data parsing and appending succeeded
NVS done and removed from list
ABBV data fetch succeeded
ABBV data parsing and appending succeeded
ABBV done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
DHR data fetch succeeded
DHR data parsing and appending succeeded
DHR done and removed from list
BMY data fetch succeeded
BMY data parsing and appending succeeded
BMY done and removed from list
PM data fetch succeeded
PM data parsing and appending succeeded
PM done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
LLY data fetch succeeded
LLY data parsing and appending succeeded
LLY done and removed from list
AVGO data fetch succeeded
AVGO data parsing and appending succeeded
AVGO done and removed from list
XOM data fetch succeeded
XOM data parsing and appending succeeded
XOM done and removed from list
Rate limit exceeded.  Waiting 60 seconds and trying again.
GE data fetch succeeded
GE data parsing and appending succeeded
GE done and removed from list
CVX data fetch succeeded
CVX data parsing and appending succeeded
CVX done and removed from list
ABB data fetch succeeded
ABB had problem
Rate limit exceeded.  Waiting 60 seconds and trying again.
DOW data fetch succeeded
DOW data parsing and appending succeeded
DOW done and removed from list

In [25]:
company_prices = pd.concat(parsed_data)
company_prices = company_prices.drop_duplicates(['symbol', 'date'])
company_prices.to_csv('data/monthly_top50_company_prices.csv', index=False)
company_prices

,symbol,date,open,high,low,close,adj_close,volume,dividend
0,AAPL,2024-03-15,179.5500,180.5300,168.4900,172.6200,172.6200,831573477,0.0000
1,AAPL,2024-02-29,183.9850,191.0500,179.2500,180.7500,180.7500,1161711745,0.2400
2,AAPL,2024-01-31,187.1500,196.3800,180.1700,184.4000,184.1660,1187139861,0.0000
3,AAPL,2023-12-29,190.3300,199.6200,187.4511,192.5300,192.2856,1062317718,0.0000
4,AAPL,2023-11-30,171.0000,192.9300,170.1200,189.9500,189.7089,1099760711,0.2400
...,...,...,...,...,...,...,...,...,...
55,DOW,2019-08-30,48.1500,48.6000,40.4400,42.6300,33.7134,105902443,0.7000
56,DOW,2019-07-31,50.0000,52.9900,47.1800,48.4400,37.6856,93215916,0.0000
57,DOW,2019-06-28,46.8500,52.9500,46.8500,49.3100,38.3624,107131951,0.0000
58,DOW,2019-05-31,56.8200,57.4800,46.7500,46.7600,36.3786,114912696,0.7000
59,DOW,2019-04-30,52.3000,60.5200,51.2500,56.7300,43.5068,190298749,0.0000