In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
stock_data = pd.read_csv('data/monthly_top50_company_prices.csv')
stock_data

,symbol,date,open,high,low,close,adj_close,volume,dividend
0,AAPL,2024-03-15,179.550,180.53,168.4900,172.62,172.6200,831573477,0.00
1,AAPL,2024-02-29,183.985,191.05,179.2500,180.75,180.7500,1161711745,0.24
2,AAPL,2024-01-31,187.150,196.38,180.1700,184.40,184.1660,1187139861,0.00
3,AAPL,2023-12-29,190.330,199.62,187.4511,192.53,192.2856,1062317718,0.00
4,AAPL,2023-11-30,171.000,192.93,170.1200,189.95,189.7089,1099760711,0.24
...,...,...,...,...,...,...,...,...,...
12561,DOW,2019-08-30,48.150,48.60,40.4400,42.63,33.7134,105902443,0.70
12562,DOW,2019-07-31,50.000,52.99,47.1800,48.44,37.6856,93215916,0.00
12563,DOW,2019-06-28,46.850,52.95,46.8500,49.31,38.3624,107131951,0.00
12564,DOW,2019-05-31,56.820,57.48,46.7500,46.76,36.3786,114912696,0.70
12565,DOW,2019-04-30,52.300,60.52,51.2500,56.73,43.5068,190298749,0.00